				{% comment %} <a href="{% url 'post' story.id %}"> {% endcomment %}
					<div class="slide m-4" style="background-image: url({{ story.image.url }});">
						<div class="container">
							<div class="row h-100">
								<div class="col-lg mt-auto">
									<a href="{% url 'post' story.id %}" style="text-decoration: none; color: white;">
										<p class="h1" style="overflow-y: hidden;">{{ story.title }}</p>
										<p>{{ story.shortDescription }}</p>
									</a>
								</div>
							</div>
						</div>
					</div>
				{% comment %} </a> {% endcomment %}