<div class="col-md-3 ml-auto">
    <aside class="sidebar sidebar-sticky">
        <div class="card mb-4">
            <div class="card-body">
                <h4 class="card-title">Тэги</h4>
                {% for tag in tags %}
                   <a class="btn btn-light btn-sm mb-1" href="{% url 'articles_by_tag' tag.name %}">{{ tag.name }}</a><br>
                {% endfor %}
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-body">
                <h4 class="card-title">Популярные истории</h4>
                <a href="#" class="d-inline-block">
                    <h4 class="h6">Каменный город, как глоток свободы</h4>
                    <img class="card-img" src="/static/img/1.jpg">
                </a>
                <time class="timeago" datetime="2017-10-03 20:00" data-tid="7">7 month ago</time>
                в Путешестия
            </div>
        </div>
    </aside>
</div>