<!doctype>
<html>
	<head>
		<meta chrset="utf-8">
		<title>Travel Squad</title>

		<link rel="stylesheet" href="/static/css/aboutus.css">
		<link rel="stylesheet" href="/static/css/media_aboutus.css">
		<link rel="stylesheet" href="/static/css/media.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	</head>
	<body>
		{% include "header.html" %}
		<div style="background-color: white;">
			<div class="container pt-5">
				<div class="row pt-5">
				<div class="col-lg ml-5 mr-5 mb-5">
					<img class="ava rounded-circle mx-auto d-block mb-4" src="/static/img/ivan.jpg" alt="photo">
						<p class="pers-information mb-1 h4" style="overflow-y: hidden;">Иван</p>
						<p class="pers-information"><b>Фотограф</b></p>
						<p class="pers-information">Познакомься, это — Ваня. Он волк в душе, поэтому всегда стремится к свободе мысли и передвижений.</p>
				</div>
				<div class="col-lg ml-5 mr-5 mb-5">
					<img class="ava rounded-circle mx-auto d-block mb-4" src="/static/img/alexandra.jpg" alt="photo">
					<p class="pers-information mb-1 h4" style="overflow-y: hidden;">Александра</p>
					<p class="pers-information"><b>Не фотограф</b></p>
					<p class="pers-information">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus aliquet tincidunt urna nec rhoncus. </p>
				</div>
				<div class="col-lg ml-5 mr-5 mb-5">
					<img class="ava rounded-circle mx-auto d-block mb-4" src="/static/img/maksim.jpg" alt="photo">
					<p class="pers-information mb-1 h4" style="overflow-y: hidden;">Максим</p>
					<p class="pers-information"><b>Второй фотограф</b></p>
					<p class="pers-information">Это Максим. Максимально целеустремлённый и легко найдет общий язык даже с камчатским медведем.</p>
				</div>
				</div>
			</div>
		</div>
		{% include "footer.html" %}
		<script src="js/rellax.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<!-- Для 1024px добавить h-100 контейнеру с фотками -->
		<script>
    		var rellax = new Rellax('.rellax', {
      		});

      		if(document.documentElement.clientWidth < 768)
			{
				document.getElementById("mobile").remove();
			}
    	</script>

	</body>
</html>