		<div class="container" style="min-width: 100%; background-color: black; padding-top: 5%; padding-bottom: 10%;">
			<div class="social row" style="color: white; text-align: center;">
					<p class="instagram col-sm-2 ml-auto">
						<a href="https://www.instagram.com/st.travel_squad/" style="color: white; text-decoration: none;">INSTAGRAM</a>
					</p>
				<p class="youtube col-sm-2 mr-auto">
					<a href="https://www.youtube.com/" style="color: white; text-decoration: none;">YOUTUBE</a>
				</p>
			</div>
			<div class="row pl-5 pr-5">
				<div class="col-sm-6">
					<div class="row">
						<div class="col-4 p-0">
							<a href="https://www.instagram.com/p/Bma4AHFApvV/?taken-by=st.travel_squad" class="photo">
								<img src="/static/img/1.jpg" class="img-fluid"/>
							</a>
						</div>
						<div class="col-4 p-0">
							<a href="#" class="photo">
								<img src="/static/img/6.jpg" class="img-fluid"/>
							</a>
						</div>
						<div class="col-4 p-0">
							<a href="#" class="photo">
								<img src="/static/img/3.jpg" class="img-fluid"/>
							</a>
						</div>
					</div>
				</div>
				<div id="mobile" class="col-sm-6">
					<div class="row">
						<div class="col-4 p-0">
							<a href="#" class="photo">
								<img src="/static/img/1.jpg" class="img-fluid"/>
							</a>
						</div>
						<div class="col-4 p-0">
							<a href="#" class="photo">
								<img src="/static/img/1.jpg" class="img-fluid"/>
							</a>
						</div>
						<div class="col-4 p-0">
							<a href="#" class="photo">
								<img src="/static/img/1.jpg" class="img-fluid"/>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>