<!doctype>
<html>
	<head>
		<meta chrset="utf-8">
		<title>Travel Squad</title>

		<link rel="stylesheet" href="/static/css/gallery.css">
		<link rel="stylesheet" href="/static/css/media_gallery.css">
		<link rel="stylesheet" href="/static/css/media.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	</head>
	<body>
		<div class="head container p-5" style="min-width: 100%;">
			<div class="row">
				<div class="col-lg" style="text-align: center;">
					<img src="/static/img/logo_black_white.png" class="img-fluid logo" alt>
				</div>
				<div class="w-100"></div>
				<div class="col-lg menu mt-4" style="text-align: center;">
					<span class="m-4">Gallery</span>
					<span class="m-4">About us</span>
					<span class="m-4">Stories</span>
				</div>
			</div>
		</div>
		<img class="bg rellax" data-rellax-speed="8" data-rellax-percentage="0.3" src="photo/5.jpg" alt>
<!-- 		<div style="background-color: white;">
			<div class="container">
				<div class="row">
					<div class="photo col-lg m-5 p-0" style="background-image: url(/static/img/7.jpg);"></div>
					<div class="photo col-lg m-5 p-0" style="background-image: url(/static/img/8.jpg);"></div>
					<div class="photo col-lg m-5 p-0" style="background-image: url(/static/img/9.jpg);"></div>
				</div>
				<div class="row">
					<div class="photo col-lg m-5 p-0" style="background-image: url(/static/img/10.jpg);"></div>
					<div class="photo col-lg m-5 p-0" style="background-image: url(/static/img/1.jpg);"></div>
					<div class="photo col-lg m-5 p-0" style="background-image: url(/static/img/3.jpg);"></div>
				</div>
				<div class="row">
					<div class="photo col-lg m-5 p-0" style="background-image: url(/static/img/10.jpg);"></div>
					<div class="photo col-lg m-5 p-0" style="background-image: url(/static/img/1.jpg);"></div>
					<div class="photo col-lg m-5 p-0" style="background-image: url(/static/img/3.jpg);"></div>
				</div>
				<div class="row">
					<div class="photo col-lg m-5 p-0" style="background-image: url(/static/img/10.jpg);"></div>
					<div class="photo col-lg m-5 p-0" style="background-image: url(/static/img/1.jpg);"></div>
					<div class="photo col-lg m-5 p-0" style="background-image: url(/static/img/3.jpg);"></div>
				</div>
			</div>
		</div> -->
		<div style="background-color: white;">
			<div class="container">
				<div class="row">
					{% for photo in row_1 %}
						<div class="photo col-lg m-5 p-0" style="background-image: url({{ photo.img }});"></div>
					{% endfor %}
				</div>
				<div class="row">
					{% for photo in row_2 %}
						<div class="photo col-lg m-5 p-0" style="background-image: url({{ photo.img }});"></div>
					{% endfor %}
				</div>
				<div class="row">
					{% for photo in row_3 %}
						<div class="photo col-lg m-5 p-0" style="background-image: url({{ photo.img }});"></div>
					{% endfor %}
				</div>
				<div class="row">
					{% for photo in row_4 %}
						<div class="photo col-lg m-5 p-0" style="background-image: url({{ photo.img }});"></div>
					{% endfor %}
				</div>
			</div>
		</div>
		{% include "pagination.html" with object_list=all_photos url_query=last_query %}
		<div class="container" style="min-width: 100%; background-color: black; padding-top: 10%; padding-bottom: 10%;">
			<div class="social row" style="color: white; text-align: center;">
				<p class="instagram col-sm-1 ml-auto">INSTAGRAM</p>
				<p class="youtube col-sm-1 mr-auto">YOUTUBE</p>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="row">
						<div class="col-3 p-0">
							<a href="#" class="photo">
								<img src="photo/1.jpg" class="img-fluid"/>
							</a>
						</div>
						<div class="col-3 p-0">
							<a href="#" class="photo">
								<img src="photo/6.jpg" class="img-fluid"/>
							</a>
						</div>
						<div class="col-3 p-0">
							<a href="#" class="photo">
								<img src="photo/3.jpg" class="img-fluid"/>
							</a>
						</div>
						<div class="col-3 p-0">
							<a href="#" class="photo">
								<img src="photo/4.jpg" class="img-fluid"/>
							</a>
						</div>
					</div>
				</div>
				<div id="mobile" class="col-sm-6">
					<div class="row">
						<div class="col-3 p-0">
							<a href="#" class="photo">
								<img src="photo/1.jpg" class="img-fluid"/>
							</a>
						</div>
						<div class="col-3 p-0">
							<a href="#" class="photo">
								<img src="photo/1.jpg" class="img-fluid"/>
							</a>
						</div>
						<div class="col-3 p-0">
							<a href="#" class="photo">
								<img src="photo/1.jpg" class="img-fluid"/>
							</a>
						</div>
						<div class="col-3 p-0">
							<a href="#" class="photo">
								<img src="photo/1.jpg" class="img-fluid"/>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="/static/js/rellax.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<!-- Для 1024px добавить h-100 контейнеру с фотками -->
		<script>
    		var rellax = new Rellax('.rellax', {
      		});

      		if(document.documentElement.clientWidth < 768)
			{
				document.getElementById("mobile").remove();
			}
    	</script>
	</body>
</html>