		<div class="head container p-5" style="min-width: 100%;">
			<div class="row">
				<div class="col-lg" style="text-align: center;">
					<a href="/">
						<img src="/static/img/logo_black_white.png" class="img-fluid logo" alt>
					</a>
				</div>
				<div class="w-100"></div>
				<div class="col-lg menu mt-4" style="text-align: center;">
					<a href="{% url 'gallery' %}" style="color: white; text-decoration: none;">
						<span class="m-4">Gallery</span>
					</a>
					<a href="{% url 'about' %}" style="color: white; text-decoration: none;">
						<span class="m-4">About us</span>
					</a>
					<a href="{% url 'stories' %}" style="color: white; text-decoration: none;">
						<span class="m-4">Stories</span>
					</a>	
				</div>
			</div>
		</div>
		<img class="bg rellax" data-rellax-speed="8" data-rellax-percentage="0.3" src="/static/img/5.jpg" alt>