<!doctype>
<html>
	<head>
		<meta chrset="utf-8">
		<title>Travel Squad</title>

		<link rel="stylesheet" href="/static/css/photo.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	</head>
	<body>
		<div class="widget">
			<div class="photo">
				<img class="img" src="{{ photo.img.url }}"/>
			</div>
		</div>
	</body>
</html>