<!doctype>
<html>
	<head>
		<meta chrset="utf-8">
		<title>Travel Squad</title>

		<link href="https://milo.bootlab.io/dist/css/milo.css" rel="stylesheet">
		<link rel="stylesheet" href="/static/css/post.css">

        <!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	</head>
	<body>
		<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
			<main role="main" class="logo rellax col-lg-8" data-rellax-speed="4">
				<h1 class="title animated fadeInUp"> {{ post.title }}</h1>
				<!--<h2 class="title animated fadeInUp">место</h2>-->
			</main>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 mx-auto">
					<img src="{{ post.image.url }}" class="img-fluid rellax" data-rellax-speed="8" data-rellax-percentage="-0.1">
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
<!-- 				<div class="col-lg-8 mx-auto">
					<p class="rellax" data-rellax-speed="5" data-rellax-percentage="-0.5" style="font-size: 100px; color: #d5d5d5;">"Самое главное себя не потерять"</p>
				</div> -->
				<div class="col-lg-5 mr-auto">
<!-- 					<h1 class="place ml-5" style="z-index: -100; font-size: 100px; color: #f0f0f0;">Камчатский<br>край</h1> -->
					<h1 class="place rellax ml-5" data-rellax-speed="-4" data-rellax-percentage="0.5" style="z-index: -100; font-size: 100px; color: #f0f0f0;">Камчатский<br>край</h1>
				</div>
				<div class="col-lg-5 ml-auto">
<!-- 					<h3 class="coordinates ml-auto" style="font-size: 35px; color:#451fe7; z-index: -100;">53°02′39″N 158°39′02″W</h3> -->
					<img src="/static/img/compass.png" class="rellax img-fluid" data-rellax-speed="5" data-rellax-percentage="0.1">
					<h3 class="coordinates rellax ml-auto" data-rellax-speed="8" data-rellax-percentage="0.1" style="font-size: 35px; color:#451fe7; z-index: -100;">53°02′39″N 158°39′02″W</h3>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 mx-auto mt-5">
					<p>
						{{ post.text }}
					</p>
				</div>
			</div>
		</div>
		</div>
		<script type="text/javascript" src="/static/js/rellax.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script>
    		var rellax = new Rellax('.rellax', {
      		});

      		var wnd = $(window), opacityControlPlace = $('.place'), opacityControlCoord = $('.coordinates');
    		wnd.scroll(function() {
    			var top = wnd.scrollTop()
    			var opacityPlace = top > 500 ? 1 : top * 2 / 1000;
    			var opacityCoord = top > 500 ? 1 : top * 2 / 1000;
    			console.log(top);
    			// opacityCoord = top > 800 ? top * 2 / 1000 : top * 2 / 2000;

    			opacityControlPlace.css('opacity', opacityPlace);
    			opacityControlCoord.css('opacity', opacityCoord);
    		});
    	</script>
	</body>
</html>