<!doctype>
<html>
	<head>
		<meta chrset="utf-8">
		<title>Travel Squad</title>

		<link rel="stylesheet" href="/static/css/stories.css">
		<link rel="stylesheet" href="/static/css/media_stories.css">
		<link rel="stylesheet" href="/static/css/media.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	</head>
	<body>
		{% include 'header.html' %}
		
		{% block page %}
			{% include '_stories_list.html' %}
		{% endblock %}

		{% include 'footer.html' %}
		<script src="/static/js/rellax.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script>
    		var rellax = new Rellax('.rellax', {
      		});

      		
      		if(document.documentElement.clientWidth < 768)
			{
				document.getElementById("mobile").remove();
			}
    	</script>
	</body>
</html>