{% load static %}

<!doctype>
<html>
	<head>
		<meta chrset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Travel Squad</title>

		<link rel="stylesheet" href="{% static '/css/stories.css' %}">
		<link rel="stylesheet" href="{% static '/css/media_stories.css' %}">
		<link rel="stylesheet" href="{% static '/css/media.css' %}">
		<link rel="stylesheet" href="{% static '/css/bootstrap/bootstrap.min.css' %}">

	</head>
	<body>
		{% include 'header.html' %}
		
		{% block page %}
			{% include '_stories_list.html' %}
		{% endblock %}

		{% include 'footer.html' %}
		<script src="{% static '/js/rellax.js' %}"></script>
		<script src="{% static '/js/jquery/jquery.min.js' %}"></script>
		<script>
    		var rellax = new Rellax('.rellax', {
      		});

      		
      		if(document.documentElement.clientWidth < 768)
			{
				document.getElementById("mobile").remove();
			}
    	</script>
	</body>
</html>