/* @media */

/* monitors and laptops */
@media screen and (min-width: 1240px)  {
  .photo {
    width:30% !important; 
    height:30% !important; 
    background-size: 140%;
    background-position: center;
    background-repeat: no-repeat;
  }
}

/* tablet */
@media screen and (min-width: 1024px) and (max-width: 1240px)  {
  .photo {
    width:10% !important; 
    height:10% !important; 
    background-size: 140%;
    background-position: center;
    background-repeat: no-repeat;
  }
}

/* mobile */
@media screen and (max-width: 768px) {
  .photo {
    width:30% !important; 
    height:30% !important; 
    background-size: 140%;
    background-position: center;
    background-repeat: no-repeat;
  }
}