@import url('https://fonts.googleapis.com/css?family=Jura');

.logo {
	margin-top: auto;
	margin-bottom: auto;
	margin-right: auto;
	margin-left: auto;
}
.title {
	font-family: 'Jura', sans-serif;
	font-size: 20px;
	text-align: center;
	-webkit-animation-delay: 1s;
	-webkit-animation-duration: 1s !important;
  	animation-duration: 1s !important;
}

.pers-information {
	text-align: center;
}

article, .card {
	border-top: none !important;
	border-left: none !important;
	border-right: none !important;
}

header {
	border-bottom: none !important;
	background: none !important;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}